{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <h2>PCs</h2>

  <div class="container">
    {{ range where .Pages "Params.CharacterType" "pc" }}
    <a class="profile" href="{{ .RelPermalink }}">
      <img class="profileimg" src="{{ .RelPermalink }}/profile.png" alt="" onerror="if (this.src != '/img/placeholder.png') this.src = '/img/placeholder.png';">
      {{ .LinkTitle }}
    </a>
    {{ end }}
  </div>

  <h2>NPCs</h2>

  <div class="container">
    {{ range where .Pages "Params.CharacterType" "npc" }}
    <a class="profile" href="{{ .RelPermalink }}">
      <img class="profileimg" src="{{ .RelPermalink }}/profile.png" alt="" onerror="if (this.src != '/img/placeholder.png') this.src = '/img/placeholder.png';">
      {{ .LinkTitle }}
    </a>
    {{ end }}
  </div>
{{ end }}
