{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <div class="badges">
    {{ with .GetTerms "races" }}
      {{ range . }}
          <a class="badge race" href="{{ .RelPermalink }}">
          <img class="badgeimg" src="/img/races/{{ .LinkTitle | lower }}.svg" alt="" />
          {{ .LinkTitle }}
          </a>
      {{ end }}
    {{ end }}

    {{ with .GetTerms "classes" }}
      {{ range . }}
          <a class="badge class" href="{{ .RelPermalink }}">
          <img class="badgeimg" src="/img/classes/{{ .LinkTitle | lower }}.svg" alt="" />
          {{ .LinkTitle }}
          </a>
      {{ end }}
    {{ end }}

    {{ with .GetTerms "backgrounds" }}
      {{ range . }}
          <a class="badge background" href="{{ .RelPermalink }}">
          <img class="badgeimg" src="/img/classes/{{ .LinkTitle | lower }}.svg" alt="" />
          {{ .LinkTitle }}
          </a>
      {{ end }}
    {{ end }}

    {{ with .GetTerms "alignments" }}
      {{ range . }}
          <a class="badge background" href="{{ .RelPermalink }}">
          <img class="badgeimg" src="/img/classes/{{ .LinkTitle | lower }}.svg" alt="" />
          {{ .LinkTitle }}
          </a>
      {{ end }}
    {{ end }}

    {{ with .GetTerms "genders" }}
      {{ range . }}
          <a class="badge gender" href="{{ .RelPermalink }}">
          <img class="badgeimg" src="/img/classes/{{ .LinkTitle | lower }}.svg" alt="" />
          {{ .LinkTitle }}
          </a>
      {{ end }}
    {{ end }}
  </div>

  {{ .Content }}

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
