<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
{{ if .IsPage }}
  {{ with .TableOfContents }}
    {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
      <div class="toc">
        <strong>Table of Contents</strong>
        {{ . }}
      </div>
    {{ end }}
  {{ end }}
{{ end }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
