body {
  color: var(--text);
  font-family: var(--main-font);
  line-height: 1.5;
  margin: 0;
  background-color: var(--background);
  background-image: var(--background-image);
}

header {
  top: 0;
  margin: 0;
  position: sticky;
  width: 100%;
  padding: .75rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--borders);
  background-color: hsla(0, 0%, 100%, .8);
  -webkit-backdrop-filter: saturate(110%) blur(5px);
  backdrop-filter: saturate(110%) blur(5px);
}

header ul {
  padding: 0;
  margin: 0;
}

header li {
  display: inline;
  margin-right: 0.5em;
}

header a {
  color: var(--text);
  text-decoration: none;
}

.toc {
  position: fixed;
  right: 2em;
  top: 7em;
  padding: 1em;
  border: 1px solid var(--borders);
  background-color: #fff;
  font-size: smaller;
}

.toc ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toc ul ul {
  padding-left: 1em;
}

.toc li {
  width: 100px;
  text-overflow: ellipsis;
}

main {
  max-width: 765px;
  margin: auto;
  padding: 1em;
}

/* content images */
main img {
  max-width: 50%;
  margin: auto;
  display: block;
}

h1 {
  margin-bottom: 0;
  font-weight: normal;
}

h2,
h3,
h4 {
  border-bottom: 1px solid var(--accent);
  font-weight: normal;
  scroll-margin-top: 3em;
}

time {
  margin: 0;
  font-size: small;
}

a {
  color: var(--links);
  text-decoration: none;
}

/* tables */
table {
  border-collapse: collapse;
  background-color: var(--table-bg);
  width: 100%;
}

td,
th {
  border: 1px solid var(--borders);
  padding: 0.25em .75em;
}

th {
  background-color: var(--table-head-bg);
  border-bottom: #bbb solid;
}

blockquote {
  border: 1px solid #ddd;
  margin: 0;
  padding: 0 1em;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.badge {
  border-radius: 1.5em;
  padding: .25em 1em;
  font-size: small;
  color: var(--text);
  text-decoration: none;
  border: 1px solid var(--borders);
  white-space: nowrap;
}

.badge:hover {
  background-color: var(--primary);
  color: white;
}

.badge img {
  fill: white;
}

.badgeimg {
  display: inline;
  height: 1em;
  margin: -.25em 0em;
}

.container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.profile {
  width: 96px;
  border-radius: 5px;
  border: 1px solid var(--borders);
  padding: .5em 1em;
  text-decoration: none;
  color: var(--text);
  text-align: center;
  background-color: #fff;
  line-height: normal;
  font-size: small;
}

.profileimg {
  margin: auto;
  margin-bottom: 0.5em;
  width: 75px;
  height: 75px;
  max-width: 100%;
  object-fit: cover;
}

.profile:hover {
  box-shadow: 2px 2px 10px var(--borders);
}

@media (max-width: 1100px) {
  main {
    margin-left: 0;
  }

  .toc {
    right: 0;
  }
}

@media (max-width: 950px) {
  main {
    max-width: 100%;
  }

  .toc {
    display: none;
  }
}