body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
}

header {
  margin: 0;
  background-color: maroon;
  color: #fff;
  padding: .75rem;
}

header ul {
  padding: 0;
  margin: 0;
}

header li {
  display: inline;
  margin-right: 0.5em;
}

header a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 768px;
  margin: auto;
  padding: 1em;
}

main img {
  max-width: 50%;
  margin: auto;
  display: block;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 0.25em .75em;
}

.badges {
  display: flex;
  gap: .5em;
}

.badge {
  border-radius: 1.5em;
  padding: .25em 1em;
  font-size: small;
  color: #222;
  text-decoration: none;
  border: 1px solid #ddd;
}

.badge:hover {
  background-color: maroon;
  color: white;
}

.badge img {
  fill: white;
}

.badgeimg {
  display: inline;
  height: 1.25em;
  margin: -.25em 0em;
}

.container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.profile {
  width: 100px;
  border-radius: 15px;
  border: 1px solid #ddd;
  padding: .5em 1em;
  text-decoration: none;
  color: #222;
  text-align: center;
}

.profileimg {
  margin: auto;
  width: 100px;
  height: 100px;
  max-width: 100%;
  object-fit: cover;
}

/*
footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}
*/
